.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.articleInfo {
    display: flex;
    gap: 10px;
}

.block {
    margin-top: 16px;
}
