.SMALL {
    .articles {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.BIG {
    .articles {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
