.SMALL {
    width: 220px;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        transform: scale(1.05);
        transition: 0.2s;

        .date {
            display: block;
        }
    }

    .imgWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
    }

    .info {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .types p {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        margin-right: 5px;
    }

    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
