.popup {
    position: relative;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.active {
    color: var(--secondary-color);
}

.disabled {
    opacity: 0.7;
}

.bottomLeft {
    top: 100%;
    right: 0;
}

.bottomRight {
    top: 100%;
    left: 0;
}

.topLeft {
    right: 0;
    bottom: 100%;
}

.topRight {
    left: 0;
    bottom: 100%;
}
