.app.light {
    --bg-color: #fbfcfe;
    --secondary-bg-color: #fff;
    --primary-color: #090909;
    --secondary-color: #ffa500;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #c778dd;
}
