.app_teal_theme {
    --bg-color: #354f52;
    --secondary-bg-color: #2f3e46;
    --primary-color: #cad2c5;
    --secondary-color: #84a98c;
    --inverted-primary-color: #384f52;
    --inverted-secondary-color: #f4fbfb;
}
