.Card {
    padding: 10px;
}

.normal {
    background: var(--secondary-bg-color);
}

.secondary {
    background: var(--bg-color);
}

.outlined {
    border: 1px solid var(--primary-color);
}

.max {
    width: 100%;
}
